[workspace.package]
version = "0.15.0"
edition = "2024_07"
cairo-version = "2.13.1"
scarb-version = "2.13.1"

[workspace]
members = ["packages/*"]

[workspace.dependencies]
alexandria_macros = { git = "https://github.com/keep-starknet-strange/alexandria/", tag = "v0.6.1" }
starknet = "2.13.1"
openzeppelin_token = "2.0.0"
openzeppelin_account = "2.0.0"
openzeppelin_introspection = "2.0.0"
openzeppelin_upgrades = "2.0.0"
openzeppelin_access = "2.0.0"
dojo = { git = "https://github.com/dojoengine/dojo", tag = "v1.7.0-alpha.2" }
dojo_macros = { git = "https://github.com/dojoengine/dojo", tag = "v1.7.0-alpha.2" }
cubit = { git = "https://github.com/bengineer42/cubit", tag = "cairo--2.8.0" }
pragma_lib = { git = "https://github.com/bengineer42/pragma-lib", branch = "v2.11.4" }
beacon_entity = { git = "https://github.com/sai-starknet/torii-beacon", tag = "v1.7.3" }
beacon_macros = { git = "https://github.com/sai-starknet/torii-beacon", tag = "v1.7.3" }
beacon_library = { git = "https://github.com/sai-starknet/torii-beacon", tag = "v1.7.3" }
sai_access = { git = "https://github.com/sai-starknet/cairo-utils", tag = "v0.1.4" }
sai_ownable = { git = "https://github.com/sai-starknet/cairo-utils", tag = "v0.1.4" }
sai_token = { git = "https://github.com/sai-starknet/cairo-utils", tag = "v0.1.4" }
sai_core_utils = { git = "https://github.com/sai-starknet/cairo-utils", tag = "v0.1.4" }
sai_return = { git = "https://github.com/sai-starknet/cairo-utils", tag = "v0.1.4" }
sai_packing = { git = "https://github.com/sai-starknet/cairo-utils", tag = "v0.1.4" }

amma_blobert = { path = "packages/amma_blobert" }
arena_blobert = { path = "packages/arena_blobert" }
ba_blobert = { path = "packages/blobert" }
ba_utils = { path = "packages/utils" }
ba_loadout = { path = "packages/loadout" }
ba_combat = { path = "packages/combat" }
ba_arcade = { path = "packages/arcade" }
ba_arcade_classic = { path = "packages/arcade_classic" }
ba_arcade_amma = { path = "packages/arcade_amma" }
ba_credit = { path = "packages/credit" }
ba_pvp = { path = "packages/pvp" }
ba_orbs = { path = "packages/orbs" }
ba_endless = { path = "packages/endless" }
ba_endless_amma = { path = "packages/endless_amma" }

[workspace.tool.fmt]
sort-module-level-items = true

[workspace.tool.scarb]
allow-prebuilt-plugins = ["snforge_std"]


[package]
name = "blob_arena"
cairo-version.workspace = true
version.workspace = true
edition.workspace = true

[dependencies]
starknet.workspace = true
amma_blobert.workspace = true
arena_blobert.workspace = true
ba_blobert.workspace = true
ba_loadout.workspace = true
ba_combat.workspace = true
ba_arcade.workspace = true
ba_utils.workspace = true
ba_arcade_classic.workspace = true
ba_arcade_amma.workspace = true
ba_credit.workspace = true
ba_pvp.workspace = true
ba_orbs.workspace = true

[dev-dependencies]
# dojo_cairo_test = { git = "https://github.com/dojoengine/dojo", tag = "v1.6.0-alpha.2" }


[lib]

[[target.starknet-contract]]
sierra = true
casm = true
build-external-contracts = [
    "amma_blobert::collectable::amma_blobert",
    "amma_blobert::soulbound::amma_blobert_soulbound",
    "amma_blobert::minter::amma_blobert_minter",
    "arena_blobert::arena_blobert",
    "arena_blobert::minter::arena_blobert_minter",
    "ba_loadout::action::contract::action",
    "ba_loadout::action::action::action_model",
    "ba_loadout::loadout_amma::loadout_amma",
    "ba_loadout::loadout_classic::loadout_classic",
    "ba_combat::combat::round_result_model",
    "ba_combat::contract::combat",
    "ba_arcade::table::arcade_round_result_model",
    "ba_credit::credit::arena_credit",
    "ba_credit::purchase::arena_credit_purchase",
    "ba_arcade_classic::arcade_classic",
    "ba_arcade_amma::contract::arcade_amma",
    "ba_pvp::contract::pvp",
    "ba_utils::vrf::mock_vrf",
    "ba_orbs::token::orb",
    "ba_orbs::minter::orb_minter",
]

[tool]
fmt.workspace = true
scarb.workspace = true

[profile.sepolia]
[profile.cloud]
